@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}



.button-default{
  position:absolute;
  top: 5px;
  right: 5px;
  background-color: #624ADC;
  border-radius: 10px;
  padding: 5px 20px;
  color: white;
}

.input-default{

  width: 100%;
  background-color: white;
  padding: 10px;
    border-radius: 10px;


}